In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
import numpy as np 
import pandas as pd 	
import matplotlib.pyplot as plt 
import math
from sklearn import preprocessing
%matplotlib inline

In [2]:
df = pd.read_csv("/content/data.csv")
df.head()

,Symbol,Date,Open,High,Low,Close,Adj Close,Volume
0,ADANIPORTS,5/6/2008,150.000000,153.570007,147.820007,151.149994,134.313477,1782030.0
1,ADANIPORTS,5/7/2008,152.000000,154.460007,150.240005,153.309998,136.232864,1180015.0
2,ADANIPORTS,5/8/2008,152.199997,156.759995,150.199997,155.889999,138.525497,1856245.0
3,ADANIPORTS,5/9/2008,155.000000,160.600006,154.210007,156.520004,139.085312,3251375.0
4,ADANIPORTS,5/12/2008,156.000000,163.479996,151.000000,162.500000,144.399170,5031635.0

In [4]:
le = preprocessing.LabelEncoder()
df['Symbol']=le.fit_transform(df['Symbol'])
df['Date']=le.fit_transform(df['Date'])
df['Open']=le.fit_transform(df['Open'])
df['High']=le.fit_transform(df['High'])
df['Low']=le.fit_transform(df['Low'])
df['Close']=le.fit_transform(df['Close'])
df['Adj Close']=le.fit_transform(df['Adj Close'])
df['Volume']=le.fit_transform(df['Volume'])

In [5]:
df["Diff"] = df.Close.diff()
df["SMA_2"] = df.Close.rolling(2).mean()
df["Force_Index"] = df["Close"] * df["Volume"]
df["y"] = df["Diff"].apply(lambda x: 1 if x > 0 else 0).shift(-1)

In [6]:
df = df.drop(
   ["Open", "High", "Low", "Close", "Volume", "Diff", "Adj Close"],
   axis=1,
).dropna()
print(df)

       Symbol  Date    SMA_2  Force_Index    y
1           0  1600   6801.5    386267306  1.0
2           0  1607   7000.0    433094164  1.0
3           0  1614   7128.0    465875634  1.0
4           0  1421   7378.5    510670701  0.0
5           0  1429   7455.0    458850372  0.0
...       ...   ...      ...          ...  ...
73310      20  1335  11484.5    135185420  1.0
73311      20  1343  11511.0    202483456  0.0
73312      20  1369  11543.5    124935585  0.0
73313      20  1484  11415.5    204807776  1.0
73314      20  1563  11368.5    189806190  1.0

[73314 rows x 5 columns]

In [16]:
X = df.drop(["y"], axis=1).values
y = df["y"].values
X_train, X_test, y_train, y_test = train_test_split(
   X,
   y,
   test_size=0.1,
   shuffle=False,
)

In [17]:
clf = make_pipeline(StandardScaler(), MLPClassifier(random_state=3, shuffle=False))
clf.fit(
   X_train,
   y_train,
)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('mlpclassifier',
                 MLPClassifier(random_state=3, shuffle=False))])

In [18]:
y_pred = clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.5088652482269503